@import 'mixins';

// MANDELBROT Boilerplate style
	
	// Variables
	$LSgray: #1c1c1c;
	$LSpurple: #8367d8;
	$LSblue: #2ec5f1;
	$LSyellow: #f7ec27;
	$LSred: #ef3d3d;

	$leftSpace: 10%;
	$fontSpace: 3px;
	$fontH: 17px;

	#tester{
		border: 1px solid green;
		@include boxSize();
		position: absolute;
		z-index: 1000000;
		width: 100%;
		height: 50%;
		margin: auto;
		// left: 20px;
	}

	*{
		font-family: 'Lato', sans-serif;
	}

	#lsWrap{
		position: absolute;
		width: 100%;
		height: 100%;
		min-height: 500px;
		margin: 0;
		padding: 0;
		overflow: hidden;

		.innerWrap{
			position: absolute;
			width: 100%;
			height: 100%;
			margin: auto;
			top: 0; bottom: 0; left: 0; right: 0;
			overflow: hidden;
			background-color: $LSgray;

			.brandWrap{
				// border: 1px solid red;

				position: absolute;
				z-index: 100;
				width: 452px;
				height: 117px;
				margin: auto;
				top: 0; bottom: 0;
				left: $leftSpace;
				text-align: left;
				text-transform: lowercase;

				.logoBox{
					position: relative;
					width: 100%;
					height: 64px;
					@include transitions(all, 0.8s, ease-in-out);

					img{
						width: 100%;
					}
				}

				h1{
					width: 100%;
					height: 17px;
					line-height: 1em;
					margin: 0;
					padding: 0;
					margin-top: 33px;
					@include transitions(all, 0.8s, ease-in-out);

					color: #fff;
					font-size: $fontH;
					letter-spacing: $fontSpace;
					font-weight: 400;
					@include smoothFont();

					.blueLS{
						color: $LSblue;
					}
					.yellowLS{
						color: $LSyellow;
					}
					.redLS{
						color: $LSred;
					}
				}
			}

			.copyWrap{
				// border: 1px solid purple;

				position: absolute;
				overflow: hidden;
				z-index: 10;
				width: 782px;
				height: 300px;
				margin: auto;
				top: 0; bottom: 0;
				right: 6%;
				color: #fff;
				text-align: right;
				text-transform: uppercase;
				letter-spacing: 23px;
				font-weight: 900;
				font-size: 42px;

				h2{
					height: 100%;
					margin: 0;
					float: right;
					line-height: 1.2em;
					display: table;
					// text-shadow: 5px 5px 20px #000;

					#shiftQ{
						display: table-cell;
						vertical-align: middle;

						@include transitions(all, 0.8s, ease-in-out);
					}
				}
			}

			.canvasWrap{
				// border: 1px solid aqua;
				position: absolute;
				z-index: 0;
				width: 728px;
				height: 100%;
				overflow: hidden;
				background: url('../img/dot_bg.png');
				@include boxSize();
				right: 10%;
				@include boxShadow(10px, 5px, 60px);
				@include transitions(all, 0.4s, ease-out);

				&:hover{
					@include boxShadow(5px, 2px, 20px);
				}
			}

			footer{
				// border: 1px solid $LSpurple;

				position: absolute;
				z-index: 100;
				width: 280px;
				height: 69px;
				left: $leftSpace;
				text-align: left;
				bottom: 100px;
				color: $LSblue;
				font-weight: 400;
				@include smoothFont();
				font-size: $fontH;
				letter-spacing: $fontSpace;

				.findMe{
					margin: 0;
					padding: 0;
					width: 100%;
					height: 26px;
					margin-bottom: 20px;

					li{
						@include displayLeft();
						text-transform: uppercase;
						margin: 0;
						padding: 0;
						@include transitions(all, 0.8s, ease-in-out);

						a{
							.frontIcon{
								@include transitions(all, 0.3s, ease-in-out);

								&:hover{
									@include opacity(0);
								}
							}

							.backIcon{
								position: absolute;
								top: 1px; 
								left: 0;
								z-index: -1;
							}
						}
					}

					li:first-child{
						left: -7px;
						margin-right: 11px;
					}
				}

				a{
					@include transitions(all, 0.8s, ease-in-out);
				}
			}

			a{
				display: block;
				text-decoration: none;
				font-weight: lighter;
				color: $LSblue;

				@include transitions(all, 0.3s, ease-in-out);

				&:hover{
					color: $LSyellow;
					background-color: $LSgray;
					@include opacity(0.9);
				}
			}
		}
	}


	// Responsiveness
	@import 'responsive';
	@import 'animation';

// END MANDELBROT style